{% extends "base.html" %}

{% block content %}
<h1>Mano straipsniai</h1>
{% if post_list %}
<table class="table align-middle bg-white shadow p-3 mb-5 rounded">
    <thead>
    <tr>
        <th>Pavadinimas</th>
        <th>Svetainė</th>
        <th>Kategorija</th>
        <th>Statusas</th>
    </tr>
    </thead>
    <tbody>
    {% for post in post_list %}
    <tr>
        <td>
            {% if post.pk %}
                <a href="{% url 'post_details' pk=post.pk %}">{{ post.title }}</a>
            {% else %}
                {{ post.title }}
            {% endif %}
        </td>
        <td>{{ post.website }}</td>
        <td>{{ post.category }}</td>
        {% if post.status == 1 %}
            <td><span class="badge bg-success">Paskelbtas</span></td>
        {% else %}
            <td><span class="badge bg-warning">Laukiama</span></td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>Nesate patalpinę jokių straipsnių</p>
{% endif %}
{% endblock %}