{% extends "base.html" %}
{% block title %}Užsakymo puslapis{% endblock title %}
{% block content %}
    <h1>Užsakymas</h1>
    <p><strong>Turimi straipsniai:</strong> {{ profile_data.available_articles }}</p>
    <div style="margin-top:-15px">
        <a href="{% url 'password_reset' %}">Pildyti straipsnius</a>
        <hr>
    </div>
    <div class="form-content">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="small mb-1">Slapyvardis:</label>
                            {{ form.username }}
                    </div>
                    <div class="form-group">
                        <label class="small mb-1">El. paštas:</label>
                            {{ form.email }}
                    </div>
                    <div class="form-group">
                        <a href="{% url 'password_reset' %}">Keisti slaptažodį</a>
                        <hr>
                    </div>
                    <label class="small mb-1">Apie mane:</label> {{ form.bio }}
                </div>
            </div>
            <br><br>
            <button type="submit" class="btn btn-success">Išsaugoti</button>
            <button type="reset" class="btn btn-warning">Atstatyti</button>
        </form>
    </div>
{% endblock content %}
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Update</button>
</form>